.skills-container {
    position: relative;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 50px 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color:  lightgray;
    display: flex;
}

.skills-container .card {
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 650px;
}

.skills-container .card .icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skills-container .card .icon .icon-background {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 183, 255);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
}

.skills-container .card .icon .icon-background img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

.skills-container .card h2 {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}

.skills-container .card p {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 20px;
}

.skills-container .card h3 {
    color: rgb(0, 132, 255);
    font-size: 18px;
    font-weight: 400;;
}

.skills-container .card ul li {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
